body div.error{
    text-align: center;
    background-color: #d40000;
    color: #ffffff;
}
body div.info{
    text-align: center;
    background-color: #00a732;
    color: #ffffff;
}

body div.answer-form{
    display: none;
}
.answer-button-wrapper{
    text-align: center;
}
#answer-button{
    padding: 20px;
    font-size: 1.2em;
}
body div.container>a.current-page{
    color: dodgerblue;
    font-weight: bold;
}
