body div.error{
    text-align: center;
    background-color: #d40000;
    color: #ffffff;
}
body div.info{
    text-align: center;
    background-color: #00a732;
    color: #ffffff;
}

body div.answer-form{
    display: none;
}
.answer-button-wrapper{
    text-align: center;
}
#answer-button{
    padding: 20px;
    font-size: 1.2em;
}
body div.container>a.current-page{
    color: dodgerblue;
    font-weight: bold;
}
body div>a.forum-tag{
    background-color: rgba(211, 178, 89, 0.69);
    color: #ffffff;
    border-radius: 10px;
    text-decoration: none;
    font-size: 0.9em;
    padding: 2px;
}
body div>a.forum-tag:hover{
    background-color: rgba(175, 145, 77, 0.98);
}